Source: sidux-vdr
Section: misc
Priority: optional
Maintainer: Stefan Lippers-Hollmann <s.l-h@gmx.de>
Uploaders: Horst Tritremmel <peter_weber69@gmx.at>
Build-Depends: cdbs, debhelper (>= 5)
Standards-Version: 3.7.2

Package: sidux-vdr
Architecture: all
Depends: sidux-vdr-server, sidux-vdr-client
Description: metapackage to install sidux-vdr-server and -client
 This metapackage depends on sidux-vdr-server and sidux-vdr-client.
 It may be safely removed from your system.

Package: sidux-vdr-server
Architecture: all
Depends: sidux-vdr-server-data, vdr, vdr-plugin-xineliboutput, vdr-plugin-channelscan | vdr-plugin-reelchannelscan, vdr-plugin-femon, vdr-plugin-osdteletext, vdr-plugin-tvonscreen, vdr-plugin-nordlichtsepg, vdr-plugin-epgsearch, vdr-plugin-text2skin, vdradmin-am
Suggests: sidux-vdr-server-extra, vdr-gui
Description: metapackage to install the sidux-vdr-menu and xine
 This metapackage installs sidux-vdr-data (or sidux-vdr-client-data) and 
 libxine-xvdr.
 It may be safely removed from your system.

Package: sidux-vdr-server-extra
Architecture: all
Depends: sidux-vdr-server, vdr-plugin-streamdev-server, vdr-addon-noad, vdr-plugin-newsticker, vdr-plugin-autotimeredit, vdr-plugin-premiereepg, vdr-plugin-pvrinput, vdr-plugin-radio, vdr-plugin-channelscan | vdr-plugin-reelchannelscan, vdr-skins, vdr-plugin-undelete
Description: metapackage to install the sidux-vdr-menu and xine
 This metapackage installs useful optional plugins for sidux-vdr-server.
 It may be safely removed from your system.

Package: sidux-vdr-client
Architecture: all
Depends: sidux-vdr-client-data | sidux-vdr-data, libxine-xvdr, libxine1, libxineliboutput-sxfe, xineliboutput-sxfe
Description: metapackage to install the sidux-vdr-menu and xine
 This metapackage installs sidux-vdr-data (or sidux-vdr-client-data) and 
 libxine-xvdr.
 It may be safely removed from your system.

Package: sidux-vdr-server-data
Architecture: all
Depends: vdr, dialog, vdr-gui | xdialog, x-terminal-emulator | xterm, su-me, w-pvrscan, procps, zenity, ssft
Recommends: distro-defaults, sidux-scripts, w-scan
Provides: sidux-vdr-data
Conflicts: sidux-vdr-client-data
Description: channellists, scripts and data for sidux-vdr-server
 Ask Horst Tritremmel for a longer description.

Package: sidux-vdr-client-data
Architecture: all
Depends: dialog, xdialog, x-terminal-emulator | xterm, su-me, procps
Conflicts: sidux-vdr-server-data
Description: vdr-start-menu and its scripts for sidux-vdr-client
 Ask Horst Tritremmel for a longer description.

Package: sidux-vdr-xine
Architecture: all
Depends: sidux-vdr-client
Description: metapackage to install sidux-vdr-client
 This is a metapackage provided for compatibility reasons
 and it should only install sidux-vdr-client, which replaces
 sidux-vdr-xine.
