Source: sidux-vdr
Section: misc
Priority: optional
Maintainer: Stefan Lippers-Hollmann <s.l-h@gmx.de>
Uploaders: Horst Tritremmel <peter_weber69@gmx.at>
Build-Depends: cdbs, debhelper (>= 6)
Standards-Version: 3.7.3
Vcs-Svn: svn://svn.berlios.de/fullstory/sidux-vdr/trunk
Vcs-Browser: http://svn.berlios.de/wsvn/fullstory/sidux-vdr/trunk/

Package: sidux-vdr
Architecture: all
Depends: sidux-vdr-server, sidux-vdr-client
Description: metapackage to install sidux-vdr-server and -client
 This metapackage depends on sidux-vdr-server and sidux-vdr-client.
 It may be safely removed from your system.

Package: sidux-vdr-server
Architecture: all
Depends: sidux-vdr-server-data, vdr, vdr-plugin-xineliboutput, vdr-plugin-reelchannelscan | vdr-plugin-wirbelscan, vdr-plugin-osdteletext, vdr-plugin-tvonscreen, vdr-plugin-nordlichtsepg, vdr-plugin-epgsearch, vdr-plugin-text2skin, vdr-plugin-live, vdr-plugin-epgsearch
Suggests: sidux-vdr-server-extra, vdr-gui
Description: metapackage to install the sidux-vdr-menu and xine
 This metapackage installs sidux-vdr-data (or sidux-vdr-client-data).
 It may be safely removed from your system.

Package: sidux-vdr-server-extra
Architecture: all
Depends: sidux-vdr-server, vdr-plugin-streamdev-server, vdr-addon-noad, vdr-plugin-newsticker, vdr-plugin-autotimeredit, vdr-plugin-premiereepg, vdr-plugin-radio, vdr-plugin-reelchannelscan | vdr-plugin-wirbelscan, vdr-skins, vdr-plugin-undelete
Description: metapackage to install the sidux-vdr-menu and xine
 This metapackage installs useful optional plugins for sidux-vdr-server.
 It may be safely removed from your system.

Package: sidux-vdr-client
Architecture: all
Depends: sidux-vdr-client-data | sidux-vdr-data, libxine1-xvdr, libxine1, libxine1-ffmpeg, libxineliboutput-sxfe, xineliboutput-sxfe
Description: metapackage to install the sidux-vdr-menu and xine
 This metapackage installs sidux-vdr-data (or sidux-vdr-client-data) and 
 libxine1-xvdr.
 It may be safely removed from your system.

Package: sidux-vdr-server-data
Architecture: all
Depends: vdr, ssft, xterm | x-terminal-emulator, menu, w-pvrscan, procps, zenity, ssft
Recommends: distro-defaults, w-scan, vdr-gui
Provides: sidux-vdr-data
Conflicts: sidux-vdr-client-data
Description: channellists, scripts and data for sidux-vdr-server
 Ask Horst Tritremmel for a longer description.

Package: sidux-vdr-client-data
Architecture: all
Depends: ssft, xterm | x-terminal-emulator, procps, menu
Conflicts: sidux-vdr-server-data
Description: vdr-start-menu and its scripts for sidux-vdr-client
 Ask Horst Tritremmel for a longer description.

Package: sidux-vdr-xine
Architecture: all
Depends: sidux-vdr-client
Description: metapackage to install sidux-vdr-client
 This is a metapackage provided for compatibility reasons
 and it should only install sidux-vdr-client, which replaces
 sidux-vdr-xine.
