#!/usr/bin/make -f

%:
	dh $@

override_dh_install:
	# Gettext Internationalisation (i18n)
	DESTDIR=$(CURDIR)/debian/aptosid-vdr-server-data po/make_po.sh aptosid-vdr.mo
	DESTDIR=$(CURDIR)/debian/aptosid-vdr-client-data po/make_po.sh aptosid-vdr.mo
	dh_install
