#!/usr/bin/make -f

%:
	dh $@

override_dh_install:
	# Gettext Internationalisation (i18n)
	DESTDIR=$(CURDIR)/debian/sidux-vdr-server-data po/make_po.sh sidux-vdr.mo
	DESTDIR=$(CURDIR)/debian/sidux-vdr-client-data po/make_po.sh sidux-vdr.mo
	dh_install
