[Desktop Entry]
Type=Application
Exec=xine -f -g --no-splash "xvdr:tcp://127.0.0.1#nocache;demux:mpeg_block"
Icon=/usr/share/pixmaps/vdr.png
Name=vdr-xine
GenericName="xine frontend for vdr"
GenericName[de]="xine frontend für vdr"
GenericName[ru]="Приложение для vdr"
Comment=using libxine-xvdr
Comment[de]=basierend auf libxine-xvdr
Comment[ru]=базирует на libxine-xvdr
Categories=Application;AudioVideo;Player;
