[Desktop Entry]
Comment=using libxine-xvdr
Comment[de]=basierend auf libxine-xvdr
Comment[ru]=базирует на libxine-xvdr
Encoding=UTF-8
Exec=xine -f -g --no-splash "xvdr:tcp://127.0.0.1#nocache;demux:mpeg_block"
GenericName="xine frontend for vdr@localhost"
GenericName[de]="xine frontend für vdr@localhost"
GenericName[ru]="Приложение для vdr@localhost"
Icon=/usr/share/pixmaps/vdr.png
MimeType=
Name=vdr-xine
Name[de]=vdr-xine
Name[ru]=vdr-xine
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-DCOP-ServiceType=
X-KDE-SubstituteUID=false
X-KDE-Username=
Categories=Application;AudioVideo;Player;
